@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--color-bkg: 255 255 255;
		--color-content-50: 248 248 248;
		--color-content-100: 242 242 242;
		--color-content-200: 220 220 220;
		--color-content-300: 189 189 189;
		--color-content-400: 152 152 152;
		--color-content-500: 124 124 124;
		--color-content-600: 101 101 101;
		--color-content-700: 82 82 82;
		--color-content-800: 70 70 70;
		--color-content-900: 61 61 61;
		--color-content-950: 41 41 41;
		--color-txtcolor: 15 15 15;
	}
	@media (prefers-color-scheme: dark) {
		:root {
			--color-bkg: 14 14 14;
			--color-content-50: 28 28 28;
			--color-content-100: 46 46 46;
			--color-content-200: 54 54 54;
			--color-content-300: 64 64 64;
			--color-content-400: 77 77 77;
			--color-content-500: 94 94 94;
			--color-content-600: 120 120 120;
			--color-content-700: 161 161 161;
			--color-content-800: 194 194 194;
			--color-content-900: 217 217 217;
			--color-content-950: 230 230 230;
			--color-txtcolor: 221 221 221;
		}
	}
	:root[data-theme="light"] {
		--color-bkg: 255 255 255;
		--color-content-50: 248 248 248;
		--color-content-100: 242 242 242;
		--color-content-200: 220 220 220;
		--color-content-300: 189 189 189;
		--color-content-400: 152 152 152;
		--color-content-500: 124 124 124;
		--color-content-600: 101 101 101;
		--color-content-700: 82 82 82;
		--color-content-800: 70 70 70;
		--color-content-900: 61 61 61;
		--color-content-950: 41 41 41;
		--color-txtcolor: 15 15 15;
	}
	:root[data-theme="dark"] {
		--color-bkg: 14 14 14;
		--color-content-50: 28 28 28;
		--color-content-100: 46 46 46;
		--color-content-200: 54 54 54;
		--color-content-300: 64 64 64;
		--color-content-400: 77 77 77;
		--color-content-500: 94 94 94;
		--color-content-600: 120 120 120;
		--color-content-700: 161 161 161;
		--color-content-800: 194 194 194;
		--color-content-900: 217 217 217;
		--color-content-950: 230 230 230;
		--color-txtcolor: 221 221 221;
	}
}
